@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media screen and (min-width: 350px) {
        @content;
    }
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}